<h3>List of heroes</h3>
<br>
<button class="btn btn-primary" (click)="addHero()">Create Hero</button>
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="selectHero(hero)" [class.selected]="hero === selectedHero">
    <span class="badge">{{hero?.id}}</span>
    {{ hero?.name }}
  </li>
</ul>
<p *ngIf="heroes?.length > 3">There are so many heroes!</p>

<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero.
  </h2>
  <button class="btn btn-default" (click)="gotoDetail()">View detail</button>
</div>
